<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/static/app.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-nav">
          <h1>
            <a href="{{url_for('index')}}" class="navbar-brand">CAR-LOOKUP</a>
          </h1>
        </div>
        <div class="navbar-nav">
          {% if 'user_id' in session %}
          <a
            href="{{ url_for('user_profile', user_id=session['user_id'])}}"
            class="nav-link"
            >{{ session.get('user_name')}}</a
          ><span class="nav-link">|</span>

          <a href="{{url_for('logout')}}" class="nav-link">Logout</a>
          {% else %}
          <a href="/login" class="nav-link">Login</a>
          <span class="nav-link">|</span>
          <a href="/register" class="nav-link">Register</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="main">
      <div class="message">
        {% for category, msg in get_flashed_messages(with_categories=True) %} {%
        if category == 'danger'%}
        <span class="text-danger">{{ msg }}</span>
        {% else %}
        <span class="text-success">{{ msg }}</span>
        {% endif %} {% endfor %}
      </div>

      {% block content %} {% endblock %}
    </div>
    <div class="hexagon-container">
      <!-- Divide -->
      {% for i in range(200) %}
      <!-- Divide -->
      <div class="hexagon"></div>
      <!-- Divide -->
      {% endfor %}
      <!-- Divide -->
    </div>
  </body>
</html>
