{% extends 'base.html' %} {% block title %}Regitstration Form{% endblock %} {%
block content %}
<div class="box">
<div class="form-container">
  <h1 class="text-center">Registration</h1>

  <form action="/register" method="post">
    {{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
    'hidden' %}

    <p>
      {{field.label}} 
      <div>{{field}}</div> 
      {% for err in field.errors %} {{err}} {% endfor
      %}
    </p>
    {% endfor %}
    <button type="submit" id="btn-long">Sign Up</button>
  </form>
    <div class="register">
      <p><span class="sign-in">Already have an account? Please </span> <a href="/login" class="nav-link">Login</a></p>
    </div>
  </div>
</div>
{% endblock %}
