{% extends "base.html" %} {% block title %}Update Profile{% endblock %} {% block
content %}
<div class="box">
  <div class="box2">
    <h1>Update Profile</h1>
    <form
      method="POST"
      action="{{ url_for('update_user_profile', user_id=user.id) }}"
      class="input-field"
    >
      {{ form.hidden_tag() }}
      <!-- divide -->
      {% for field in form if field.widget.input_type !='hidden' %}
      <!-- divide -->
      {{ field.label }} {{ field }}
      <!-- divide -->

      {% endfor %}
      <button type="submit">Update</button>
    </form>
    <a href="{{ url_for('user_profile', user_id=user.id)}}"
      ><button id="cancel">Cancel</button></a
    >
  </div>
</div>
{% endblock %}
