{% extends 'base.html' %} {% block title %}User Profile{% endblock %} {% block
content %}
<div class="container">
  <h1>{{ user.name }}'s Profile</h1>
  <img src="{{ user.profile_pic }}" alt="Profile Picture" class="profile-pic" />
  <p>Email: {{ user.email }}</p>
  <a
    href="{{ url_for('update_user_profile', user_id=user.id) }}"
    class="btn btn-primary mt-2"
    >Update Profile</a
  >
</div>
<div class="container mt-3">
  <h2>Cars Added</h2>
  <ul>
    {% for car in cars %}
    <li>
      <a href="{{ url_for('show_car_info', vin=car.vin)}}">{{ car.vin }}</a>
      <form
        action="{{ url_for('remove_car', car_id=car.id) }}"
        method="post"
        style="display: inline"
      >
        <button type="submit" class="btn btn-danger btn-sm m-1">Delete</button>
      </form>
    </li>

    {% else %}
    <li>No cars added yet.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
