{% extends 'base.html' %} {% block title %}User Profile{% endblock %} {% block
content %}
<div class="box">
  <div class="box2">
    <h1>{{ user.name }}'s Profile</h1>
    <img
      src="{{ user.profile_pic }}"
      alt="Profile Picture"
      class="profile-pic"
    />
    <p>Email: {{ user.email }}</p>
    <a href="{{ url_for('update_user_profile', user_id=user.id) }}"
      ><button>Update Profile</button></a
    >
  </div>
  <div class="box2">
    <h2>Cars Added</h2>
    <ul>
      {% for car in cars %}
      <li>
        <a href="{{ url_for('show_car_info', vin=car.vin)}}" class="nav-link"
          >{{ car.vin }}</a
        >
        <form
          action="{{ url_for('remove_car', car_id=car.id) }}"
          method="post"
          style="display: inline"
        >
          <button type="submit" id="delete">x</button>
        </form>
      </li>

      {% else %}
      <li>No cars added yet.</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
