body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #333;
  overflow: hidden;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid whitesmoke;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 32px;
  font-weight: bold;
  color: #c8c8c8;
  text-decoration: none;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.navbar-brand:hover {
  color: #007bff;
}

.navbar-nav {
  display: flex;
  gap: 5px;
}

.nav-link {
  color: #dbdbdb;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
  margin-right: 20px;
}

.link {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.link:hover {
  color: #6aaff9;
}

.nav-link:hover {
  color: #007bff;
}

.container.m-1 {
  margin-top: 100px;
  margin-left: 2%;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.81);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  padding-bottom: 30px;
  max-width: 500px;
  width: 100%;
  margin-top: 80px;
}

.update {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.81);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  padding-bottom: 30px;
  max-width: 500px;
  width: 100%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  color: whitesmoke;
}

.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  background-color: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.81);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-width: 100%;
  width: 50%;
  margin-top: 30px;
}

.box3 {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.81);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-width: 100%;
  width: 50%;
  margin-top: 50px;
}

.vin {
  display: inline;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.81);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-width: 100%;
  margin-top: 100px;
  width: 90%;
}

.input-field {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 95.5%;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 30%;
}

.sign-in {
  color: #b8b8b8d5;
}

.text-center {
  text-align: center;
}

label {
  color: rgb(220, 220, 220);
  font-weight: bold;
  padding: 5px;
}

button {
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btn-long {
  width: 100%;
}

button[type="submit"]:hover,
button:hover {
  background-color: #0056b3;
}

#delete {
  padding: 5px;
  margin: 0px;
  font-size: 16px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 30px;
}

#delete:hover {
  background-color: rgb(144, 0, 0);
}

#cancel {
  padding: 10px;
  margin: 0px;
  font-size: 16px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#cancel:hover {
  background-color: rgb(144, 0, 0);
}

.text-danger {
  color: #ff0000;
}
.text-success {
  color: rgb(2, 143, 0);
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  position: relative;
  width: 100%;
  height: calc(100vh - 60px);
  z-index: 1;
  overflow-y: auto;
  margin-top: 80px;
}

.hexagon-container {
  position: absolute;
  display: grid;
  top: 0;
  left: 0;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 5px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hexagon {
  width: 100px; /* Adjust as needed */
  height: 100px; /* 100px * sqrt(3)/2 */
  background-color: #222;
  margin: 5px; /* 100px * sqrt(3)/4 */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transform: rotate(30deg);
}

.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: inherit;
}

.hexagon::before {
  transform: translateY(-86.6px); /* 100px * sqrt(3)/2 */
}

.hexagon::after {
  transform: translateY(86.6px); /* 100px * sqrt(3)/2 */
}

.hexagon:nth-child(odd) {
  transform: translateY(-55px) rotate(30deg);
}

@media screen and (max-width: 768px) {
  .hexagon-container {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 5px;
    width: 116%;
    height: 100%;
    z-index: -1;
  }
}

@media screen and (max-width: 501px) {
  html,
  body {
    height: -webkit-fill-available;
  }
  .hexagon-container {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 5px;
    width: 107%;
    height: 100%;
    z-index: -1;
  }
  .navbar-brand {
    font-size: 18px;
    font-weight: bold;
    color: #c8c8c8;
    text-decoration: none;
    margin-left: 10px;
    transition: color 0.3s ease;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.81);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-bottom: 30px;
    max-width: 500px;
    width: 80%;
    margin-top: 80px;
  }
  .box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    background-color: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.81);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-width: 100%;
    width: 90%;
    margin-top: 10px;
  }
  .update {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.81);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-bottom: 30px;
    max-width: 500px;
    width: 80%;
  }
  .box3 {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.81);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-width: 100%;
    width: 90%;
    margin-top: 5px;
  }
}

@media screen and (max-width: 387px) {
  .hexagon-container {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 5px;
    width: 115%;
    height: 100%;
    z-index: -1;
  }
}
